<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
</head>
<body ng-app="aula1e2">
    <p>Input something in the input box:</p>
    <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
    <h1>Hello {{name | reverseString | truncate:10:" veja mais..."}}</h1>
</body>
<script>
    angular.module('aula1e2',[])
        .filter('reverseString',function(){
            return function(text){
                if(text) return text.split("").reverse().join("");
            }
        })
        .filter('truncate',function(){
            return function(text, length, end){
                if(text){
                    if(isNaN(length) ) length = 10;
                    if(end ===undefined) end = "...";
                    if(text.length <= length) return text;
                    else return String(text).substring(0,length) +end;
                }
            }
        })
</script>
</html>