<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>



</head>

<body ng-app="exercice2">
    <p>
        <label for="payment">Entry your pay: </label>
        <input id="payment" type="number" ng-model="payment">
    </p>
    <p>
        <label for="payment">Formated: </label>
        <span class="label label-info">{{payment | currency}}</span>
    </p>
    <p>
        <label for="payment">Upcase: </label>
        <span class="label label-info">{{payment | uppercase}}</span>
    </p>
    <p>
        <label for="payment">lowercase: </label>
        <span class="label label-info">{{payment | lowercase}}</span>
    </p>
    <p>
        <label for="payment">As json: </label>
        <span class="label label-info">{{ {valor:payment} | json:10 }}</span>
    </p>

</body>
<script>
    angular.module('exercice2', []);
    angular.bootstrap(document, ['exercice2']);
</script>

</html>