<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
</head>

<body ng-app="aula2-exe2">

    <input type="date" class="form-control" ng-model="age">
    <br> {{age | isOldAge}}


</body>
<script>
    angular.module("aula2-exe2", [])
        .filter('isOldAge', function () {
            return function (date) {
                let currentYear = new Date().getFullYear();
                let mensagem = '';
                if (date !== undefined) {
                    let age = currentYear - date.getFullYear();
                    mensagem += "você possui " + age + " anos";
                    if (age >= 18)
                        mensagem += " e é maior de idade"
                    else
                        mensage += " e é de menor"
                }
                return mensagem;
            }
        })
</script>

</html>